#main-content {
	position: relative;
	overflow: hidden;
}

#left-content {
	box-sizing: border-box;
}

#left-content h2 {
	text-align: left;
	margin-right: 33px;
}

#right-panel {
	position: absolute;
	right: -510px;
	top: 5px;
	transition: right 0.3s;
	width: 500px;
	background: #e1ecfa;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

#right-panel.expanded {
	right: 0;
}

#panel-open-button {
	position: absolute;
	top: 5px;
	right: 13px;
	width: 26.5px;
	height: 26.5px;
	cursor: pointer;
	padding: 4px;
	background: linear-gradient(to bottom, rgba(0,54,88,1) 0%, rgba(0,90,150,1) 100%);
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

#options-heading {
	height: 37.5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 8px;
	color: #fff;
	background: linear-gradient(to bottom, rgba(0,54,88,1) 0%, rgba(0,90,150,1) 100%);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow: 1px 0 7px 0 rgba(0,0,0,0.9);
}

#panel-items {
	padding: 10px;
}

#close-arrow {
	float: left;
}

#panel-title {
	padding-top: 11px;
	width: calc(100% - 40px);
}

.calendar {
	z-index: 2000;
}


[draggable] {
	cursor: move;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none
}

.results {
	padding: 0;
	border: 0;
}
.results .head th {
	padding-left: .4em;
	padding-right: .4em;
}

.results th:first-child {
	cursor: pointer;
}

.results small {
	color: #666666;
}

th.asc:after, th.desc:after {
	margin-left: 0.41em;
	cursor: pointer;
}

th.asc:after {
	content: '▼';
}

th.desc:after {
	content: '▲';
}

.results td {
	padding: 3px 5px;
}

.results tr:hover {
	outline: 1px solid rgba(255, 165, 0, 0.3);
}

.results tr:nth-child(2n) {
	background: #e1ecfa;;
}

#timezone {
	position: relative;
	top: 3px;
	color: #ffffff;
}

#csv {
	padding: 5px 8px;
}

.foot {
	border-top: 1px solid #005c97;
	background: #3289c1;
	padding: 6px;
	margin-bottom: 16px;
	overflow: hidden;
}