#content {
	padding: 5px;
}

#main-content {
	position: relative;
	overflow: hidden;
}

#left-content {
	margin: 0;
}

#left-content h2 {
	text-align: left;
	margin-right: 33px;
}

#right-panel {
	position: absolute;
	right: -510px;
	top: 0;
	transition: right 0.3s;
	width: 500px;
	background: #e1ecfa;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	z-index: 1222;
}

#right-panel.expanded {
	right: 0;
}

#options-heading {
	height: 38px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 8px;
	color: #fff;
	background: linear-gradient(to bottom, rgb(0, 50, 81) 0%, rgb(0, 114, 192) 100%);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,0.6);
}

#panel-items {
	padding: 10px;
}

input[type="submit"] {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

button:active,
input[type="submit"]:active {
	box-shadow: 0 -1px 0 rgb(0, 50, 81);
	transform: translate3d(0, 1px, 0);
}

#close-arrow {
	position: relative;
	float: left;
}

#panel-title {
	padding-top: 9px;
	width: calc(100% - 40px);
}
form input.text {
	width: calc(80% - 4px);
}

.calendar {
	z-index: 2000;
}

[disabled] {
	cursor: default!important;
	opacity: 0.46;
}

[draggable] {
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none
}

[draggable]:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.results {
	padding: 0;
	border: 0;
}

.results table {
	border: 0;
	width: 100%;
}

.results .head th {
	padding-left: .4em;
	padding-right: .4em;
}

.results th:first-child {
	cursor: pointer;
}

.results td {
	white-space: nowrap;
}

.results td:first-child {
	background: rgba(0,0,255,0.05);
}

.results small {
	color: #666666;
	word-spacing: -2px;
}

th.asc:after, th.desc:after {
	margin-left: 0.41em;
	cursor: pointer;
}

th.asc:after {
	content: '▼';
}

th.desc:after {
	content: '▲';
}

.results td {
	padding: 3px 5px;
}

.results tr:hover {
	outline: 1px solid rgba(255, 165, 0, 0.7);
}

.results tr:nth-child(2n) {
	background: #e1ecfa;;
}

slide {
	position: absolute;
	width: calc(100% - 40px);
	top: 0;
	left: 0;
	overflow: auto;
	transition: opacity 0.3s;
}

slide:not(:first-child) {
	height: 600px;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

text {
	cursor: text;
}

#left-overlay,
#right-overlay {
	position: absolute;
	top: 251px;
	font-size: 37px;
	color: rgba(0, 101, 163, .44);
	opacity: 0.4;
	transition: opacity 0.3s;
	cursor: pointer;
	z-index: 1001;
}
#left-overlay:hover,
#right-overlay:hover {
	opacity: 1;
}

#left-overlay {
	left: 0;
}

#right-overlay {
	right: 45px;
}

#zooming-overlay {
    display: none;
    position: fixed;
	cursor: default;
	box-sizing: border-box;
    border-left: 1px solid saddlebrown;
    border-right: 1px solid saddlebrown;
    background: rgba(255, 255, 0, 0.2);
    z-index: 1111;
}

#zoom-out {
	display: none;
	position: absolute;
	top: 7px;
	left: 50%;
	margin-left: -90px;
	height: 27px;
	background: linear-gradient(to bottom, rgb(0, 101, 163) 0%, rgb(0, 126, 212) 100%);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
	z-index: 1000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#zoom-out:hover {
	color: #fafafa;
}

#piechart-chooser {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	text-align: center;
}

#right-menu {
	position: absolute;
	right: 0;
	top: 39px;
	width: 40px;
	z-index: 1555;
}

#right-menu button,
#panel-open-button {
	cursor: pointer;
	background: linear-gradient(to bottom, rgb(0, 50, 81) 0%, rgb(0, 114, 192) 100%);
	height: 40px;
	width: 40px;
	border-radius: 0;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0!important;
}

#panel-open-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1333;
}

#right-menu button {
	position: relative;
	display: block;
}

#right-menu > button.active {
	box-shadow: 0 0 5px 2px orange inset, 0 0 10px 10px #003658 inset;
}

#right-menu > button:after,
#panel-open-button:after {
	content: '';
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#panel-open-button:after {
	background-image: url('/local/bohdan/include/img/cog2.png');
}
#go-table:after {
	background-image: url('/local/bohdan/include/img/table.png');
}
#go-linechart:after {
	background-image: url('/local/bohdan/include/img/line.png');
}
#go-barchart:after {
	background-image: url('/local/bohdan/include/img/bar.png');
}
#go-stacked:after {
	background-image: url('/local/bohdan/include/img/bar-stacked.png');
}
#go-piechart:after {
	background-image: url('/local/bohdan/include/img/pie.png');
}
#go-csv:after {
	background-image: url('/local/bohdan/include/img/csv.png');
}
#go-png:after {
	background-image: url('/local/bohdan/include/img/png.png');
}

#panel-open-button:hover:before {
	content: 'Open options';
}
#go-table:hover:before {
	content: 'Table';
}
#go-linechart:hover:before {
	content: 'Line chart';
}
#go-barchart:hover:before {
	content: 'Bar chart';
}
#go-stacked:hover:before {
	content: 'Stacked bar chart';
}
#go-piechart:hover:before {
	content: 'Pie chart';
}
#go-csv:hover:before {
	content: 'Download as CSV';
}
#go-png:hover:before {
	content: 'Download chart as PNG';
}

#panel-open-button.expanded:after {
	opacity: 0.3;
}
#panel-open-button.expanded:hover:before {
	content: 'Close options';
}

#panel-open-button:before,
#right-menu > button:before {
	position: absolute;
	opacity: 0;
	top: 9px;
	right: 49px;
	padding: 5px 9px;
	border-radius: 18px;
	white-space: nowrap;
	color: #fff;
	background: rgba(0, 0, 0, 0.77);
	box-shadow: 0 0 14px rgba(255, 255, 255, 0.6), 0 0 12px rgba(0, 0, 0, 0.9);
	transition: opacity 0.3s;
}
#panel-open-button:before {
	top: 6px;
}

#panel-open-button:hover:before,
#right-menu button:hover:before {
	opacity: 1;
}

#ajax-preloader {
	position: fixed;
	z-index: 90000;
	top: 50%;
	left: 50%;
	width: 64px;
	height: 64px;
	/*margin-top: -32px;*/
	/*margin-left: -32px;*/
}